@media (max-width: 992px) {
    body.lock {
        overflow: hidden;
    }
    .header {
        &::before {
            display: block;
        }
        &__burger {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 4;
            &::after, &::before, span {
                content: "";
                background-color: white;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
            span {
                top: 9px;
            }
        }
        .menu {
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #007dfd;
            padding-top: 20px;
            flex-direction: column;
            transition: 0.3s;
            &__items {
                flex-direction: column;
                padding-left: 0;
            }
            &__link {
                margin: 5px 0;
            }

        }
        .menu.active {
            top: 80px;
        }
    }
}
@media (max-width: 576px) {
    .title {
        &_courses {
            font-size: 44px;
            line-height: 53px;
        }
    }
    .card {
        &__footer {
            flex-direction: column;
        }
    }
    .button {
        &__courses {
            width: 80vw;
        }
    }
}